# Changelog
{{#commits}}
    - [{{{messageTitle}}}](https://github.com/NovaMachina-Mods/ExNihiloSequentiaAE/commit/{{hashFull}}) - {{{authorName}}}
    {{#messageBodyItems}}
        - {{.}}
    {{/messageBodyItems}}
{{/commits}}